.App {
  text-align: center;
  font-family: sans-serif;
  width: 1000px;
  
}
img {
  height: 80px;
  width: 94px;
  position: absolute;
  top: 5px;
  border-radius: 15px;
  left: 10px;
  
 

}
.Navbar {
  background-color: #282c34;
  height: 90px;
  width: 1350px;
}
.heading {
color: whitesmoke;
line-height: 80px;
text-align: center;
position: absolute;
left: 130px;
}
.logo {
  position: relative;
  left: 1050px;
  bottom: 456px;
  text-align: center;
  vertical-align: center;
  font-family: sans-serif;
  background-color: red;
  height: 150px;
  width: 200px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-image: linear-gradient(#36D1DC, #5B86E5);

}
p {
  background-color: whitesmoke;
  height: 35px;
  position: relative;
  border-top-left-radius: 13px;
border-top-right-radius: 13px;
text-align: center;
line-height: 34px;
}
.Pie {

  text-align: center;
  font-family: sans-serif;
  width: 550px;
  height: 300px;
  position: relative;
  left: 850px;
  bottom: 466px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
